/*card main tab */
@charset "UTF-8";
@font-face {
    font-family: 'main';
    src: url(../fonts/BinggraeⅡ-Bold.ttf);
}
@font-face {
  src:url(../fonts/SCDream4.otf); 
  font-family: "SCDream4";
}

#wrap{
	  font-family: 'SCDream4';
	
}


#cTitle >h3 {
  font-size: 20px;
  margin: 20px 0px 15px 0px;
  font-weight:bold;
  text-align: left;
}

#fTitle >h3 {
  font-size: 20px;
  font-family: 'SCDream4';
  margin: 20px 0px 15px 0px;
  font-weight:bold;
  text-align: left;
}


div#fTitle{
	width: 980px;
  border-bottom: 1px solid #000000;
    margin: 0px 0px 0px 40px;
}

div#cTitle {
    width:720px;
   border-bottom: 1px solid #000000;
 margin: 0px 0px 0px 0px;
  }

/* .tap_content {
 margin: 0 0 20px;
 line-height: 1.5;}

 

.tap_content img{                                                          
  height: 200px;
} */

.card_list{
font-family: 'SCDream4';
 /* height: 700px; */
}
/* 
#card_tap {
  font-family: 'SCDream4';
  padding: 10px 0px 0px 0px;
  height: 700px;
  background: #ffffff;} */

.text-center {
    text-align:start;
}


 

section {
  display: none;
   background-color: #f6f5f5;
   display:none;
   width:712.5px;
   /* height:550px; */
   box-sizing:border-box;
   /* padding-right: 30px; */
}

/*라디오버튼 숨김*/
input {
   display: none;
   }

.card_list label {
  width:150px;
  height:40px;
  background:#f6f5f5;
  border-radius:10px 10px 0 0;
  text-align:center;
  border:0;
  outline:0;
  line-height:40px;
  margin: 10px 0px 0px 0px;
}

.card_list label:hover {
 background-color: #CEC9EF;
 cursor: pointer;
}

/*input 클릭시, label 스타일*/

.card_list input:checked + label {
   background:#686099;
   font-weight:bold;
   color: white;
   border:0;
   outline:0;
   margin: 10px 0px 0px 0px;
}

/* 
.subcard .imgdate{
  position: absolute;
  top:20px;
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  height: 20px;
  background-color: #ebebe450;
} */


.btn-card-write a{
	margin-top: 5px;
  float: right;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB;
  font-family: 'SCDream4';
  font-weight:bold;
  text-align:center;
  width:140px;
  height:40px;
  outline:0;
}

.btn-card-write:hover {
  background-color: #CEC9EF;
}




.btn-card-del{
  font-family: 'SCDream4';
  color: white;
  font-weight: bold;
  text-align: center;
  width: 140px;
  height: 40px;
  background: rgb(104, 96, 153);
  position: relative;
  left: 588px;
  border: 0px;
  outline: 0px;
}

.btn-card-del:hover {
  background-color: #CEC9EF;
}

.chk-del{
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  height: 20px;
  background-color: #ebebe450;
}



#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
 display: block;}

/* 
#tab1:checked ~ #flex-container,
#tab2:checked ~ #flex-container2{
 display: block;} */


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}



.fitems{
  flex: auto; 
  border-radius: 2px;
  height: 200px;
  margin-left:13px;
  margin-top: 30px;
  }

.fitems img{
  width: 220px;
  height: 200px;
}


#flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 720px;
  height: 700px;
}

#flex-container2 img{
  margin-top: 25px;
  padding: 15px;
  padding-left: 35px;
  width: 230px;
  height: 200px;
}


.divPaging{
	text-align :center;
}



.fitems .imgdate{
  position: relative;
  bottom:200px;
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  height: 20px;
  background-color: #ebebe450;
}

.fitems .imgtext{
  position: relative;
  bottom: 190px;
  left: 27px;
  width: 150px;
  height: 170px;
  text-align: start;
  z-index: 1;
  color: black;
  font-size: 13px;
  margin-top: 0px;
  word-break: break-word;
  white-space: pre-wrap;
}

.fitems .imgnum{
  position: relative;
  bottom: 210px;
  left: 70px;
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 70px;
  height: 20px;
  background-color: #ebebe450;
}

.chk-subcard{
position: relative;
    bottom: 410px;
    left: 200px;
}

.height500{
  height: 500px;
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'SCDream4';
  font-weight: 500;
  font-size: 13px;
}

/*cardWrite.html*/


.cardwrite{
  font-family: 'SCDream4';
}

.border-cardwrite{
width: 300px;
    height: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}

/* .border-cardwrite2{
  height: 700px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid  #ebebeb;
} */

.cardwriteimg{
    width: 400px;
    height: 400px;
    margin: 40px 40px 40px 0px;
}


a.btnwhite{
  float: left;
  padding-top: 10px;
  margin-left: 30px;
  text-align: center;
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB;
  font-family: 'SCDream4';
  font-weight:bold;
  text-align:center;
  width:120px;
  height:40px;
  outline:0;
}

.btn-writeform-save {
	margin-left: -60px;
	float: left;
  font-family: 'SCDream4';
  width: 120px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: #686099;
  color: #fff;
}

.writermargintop{
	positive:relative;
	bottom:50px;
}

.btn-writeform-save :hover{
  background-color: #ebebeb; 
  }

.btn-writeform-reset{
  font-family: 'SCDream4';
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB;
  margin-left: 30px; 
  width: 140px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.height600{
  height: 600px;
}
.cardwrite-left img{
  width: 500px;
  height: 500px;
}

.cardwritebg{
  padding-top: 10px;
}

.cardwritebg img{
width: 120px;
    height: 130px;
    margin: 5px;
}

.cardwrite-imgdate{
  font-family: 'SCDream4';
  font-size: xx-large;
  position: relative;
  bottom: 500px;
}

#text_cnt{
position: relative;
    bottom: 420px;
    left: 180px;
}


#r-text{
	border:none;
	font-family: 'SCDream4';
    font-size: medium;
    background-color: #00ff0000;
    position: relative;
	bottom: 310px;
    left: 25px;
    resize: none;
    width: 250px;
    height: 250px;
}

#c-text{
	border:none;
	font-family: 'SCDream4';
    font-size: medium;
    background-color: #00ff0000;
    position: relative;
    bottom: 430px;
    left: 50px;
    resize: none;
    width: 300px;
    height: 300px;
}


.marginleft50{
	margin-left:50px;
}

.age-op{
  border: #6667AB 1px solid;
}

.gender-op{
  border: #6667AB 1px solid;
}

.cardwriteradio input[type=radio]{
  visibility:visible;
  position: static;
  width: 20px;
  padding-left: 60px;
}

.r-age{
  display: inline-block;
  text-align: center;
}

.r-gender{
  display: inline-block;
  text-align: center;
}


/************card read.html************/

.cardRead-left{
  width: 480px;
  height: 600px;
  margin: 15px 15px 0px 30px;
  margin-left: 30px;
  padding-top: 40px;
  border: 1px solid  #ebebeb;
}

.cardRead-right{
  font-family: 'SCDream4';
  width: 480px;
  height: 600px;
  padding-top: 40px;
  border: 1px dotted #ebebeb;
}

.ment{
	    font-family: 'SCDream4';
 margin: 10px 0px 10px 0px;
  text-align: center;
}

.ment2{
	    font-family: 'SCDream4';
 margin: 10px 0px 20px 150px;
}


.cardReadImg{
  display: flex;
  width: calc(100% / 1);
  justify-content: space-around;
}

.cardReadImg2{
    display: flex;
    width: calc(110% / 1);
    justify-content: space-around;
}

.cardReadImg img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}

.cardReadImg2 img{
  margin-left: -20px;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}

.cardRead-subcard img{
width: 350px;
    height: 350px;
    padding-right: 20px;
}

.replyWrite-subcard img{
width: 350px;
    height: 350px;
    padding-right: 20px;
}

.replyRead-subcard{
margin-top: -40px;
    margin-bottom: 10px;
}

.replyRead-subcard img{
width: 350px;
    height: 350px;
    padding-right: 20px;
}
 

.border-cardread1{
    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding : 0px 10px 0px 10px;
}

.border-cardread2{
    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding : 0px 10px 0px 10px;
}

.border-replywrite1{
	    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
}

.border-replywrite2{
	    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
}

.replyReadImg{
  display: flex;
  width: calc(100% / 1);
  justify-content: space-around;
}

.replyReadImg2{
    display: flex;
    width: calc(110% / 1);
    justify-content: space-around;
}

.replyReadImg img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}

.replyReadImg2 img{
  margin-left: -20px;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}



.border-replyread1{
    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding : 0px 10px 0px 10px;
}

.border-replyread2{
    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding : 0px 10px 0px 10px;
}

/* .border-replyread2{
    height: 372px;
    width: 350px;
    border: 1px solid #c4c4c2f8;
    margin-top: 10px;
    margin-left: 15px;
    padding: 30px 10px 0px 10px;
} */

.button-center{
  margin-top: 25px;
  text-align: center;
}

.btnmargin{
	margin-top:25px;
}

.btncenter{
	text-align: center;
}

.btn-ReadList{
font-family: 'SCDream4';
    border: 1px solid #6667AB;
    background: #fff;
    color: #6667AB;
    width: 140px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    padding:10px;
}

/*.btn-ReadList{
display: inline-block;
  font-family: 'SCDream4';
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB; 
  width: 140px;
  height: 40px;
  margin: 50px 0px 15px 0px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}*/

.button-right{
  margin-top: 10px;
  float: right;
}

.btn-writeComment{
bottom: 300px;
position: relative;
font-family: 'SCDream4';
width: 140px;
height: 40px;
font-weight: 400;
font-size: 13px;
border: none;
cursor: pointer;
background: #686099;
color: #fff;
	
}

.btn-writeComment>a{
  color:#fff;
}

.btn-ReadComment{    
	bottom: 40px;
    left: 675px;
    position: relative;
  font-family: 'SCDream4';
  width: 140px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: #686099;
}

.btn-ReadComment>a{
  color:#fff;
}

.cardRead-subcard{
	margin-top: -40px;
    margin-bottom: 10px;
}
.cardRead-subcard .imgdate{
  position:relative; 
  top: 60px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

.cardRead-subcard .cardContent{
    position: relative;
    top: 70px;
    left: 45px;
   }
   
   
.cardRead-subcard2{
	margin-top: -40px;
    margin-bottom: 10px;
}

.cardRead-subcard2 img {
    width: 350px;
    height: 350px;
    padding-right: 20px;
} 
    
.cardRead-subcard2 .imgdate{
  position:relative; 
  top: 60px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

.cardRead-subcard2 .cardContent{
    position: relative;
    top: 70px;
    left: 45px;
   }

.replyWrite-subcard{
	margin-top: -40px;
    margin-bottom: 10px;
}
.replyWrite-subcard .imgdate{
  position:relative; 
  top: 60px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

.replyWrite-subcard .cardContent{
    position: relative;
    top: 70px;
    left: 45px;
   }
   
   
.replyWrite-subcard img {
    width: 350px;
    height: 350px;
    padding-right: 20px;
} 



.replyWrite-subcard2{
	height: 400px;
	margin-top: -40px;
    margin-bottom: 10px;
}

.replyWrite-subcard2 img {
    width: 350px;
    height: 350px;
    padding-right: 20px;
        margin-top: 50px;
} 

.replyWrite-subcard2 .imgdate{
  position:relative; 
  top: 60px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

.replyWrite-subcard2 .cardContent{
    position: relative;
    top: 70px;
    left: 45px;
   }

.replyRead-subcard .imgdate{
position: relative;
    top: 60px;
    left: 40px;
    z-index: 1;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;
}

.replyRead-subcard .cardContent{
    position: relative;
    top: 70px;
    left: 45px;
}

.replyRead-subcard2 {
    margin-top: -20px;
    margin-bottom: 10px;
}

.replyRead-subcard2 img{
    width: 350px;
    height: 350px;
    padding-right: 20px;
}


.replyRead-subcard2 .imgdate {
    position: relative;
    top: 40px;
    left: 40px;
    z-index: 1;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;
}
/**********cardReply.html***********/

.border-replyread{
  width: 90%;
  border: 2px solid #c4c4c2f8;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 40px;
}



.cardReply-left{
  position: relative;
  left: 10px;
  margin: 30px 0px 10px 10px;
  width: 470px;
  height: 600px;
  border:#ebebeb 1px solid;
}


.cardReply-right{
  position: relative;
  right: 50px;
  margin: 30px 10px 10px 0px;
  width: 470px;
  height: 600px;
  border:#ebebeb 1px solid;
}


.r-text{
font-family: 'SCDream4';
    font-size: medium;
    background-color: #00ff0000;
    position: relative;
    bottom: 300px;
    left: 40px;
    resize: none;
    width: 250px;
    height: 250px;
}

.r-bgtext{
	width: 200px;
    position: relative;
    bottom:235px;
    left: 600px;
}

.r-bgtext button{
    width: 120px;
    height: 40px;
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB; 
  font-family: 'SCDream4';
}

/**********모달************/

#my_modal {
	display: none;
  background-color: #fefefe;
  border-radius: 3px;
}

.btn-card-application {
  font-family: 'SCDream4';
	color: white;
	background:#686099;
    font-weight:bold;
    text-align:center;
    width:160px;
    height:50px;
    border:0;
    outline:0;  
}

.bgs {
  font-family: 'SCDream4';
  text-align: center;
	color: white;
	background:#686099;
	padding: 25px 0px 0px 0px;
  width: 612px;
	height:75px;
}

.btn-center {
	text-align: center;
}

#card-read{
  width: 618px;
  height: 307px;
}

#card-read img{
  width: 150px;
  height: 150px;
}

.height30{
  height: 30px;
}

.modal-dialog{
width:500px;
	z-index: 0;
}

.btn-modalComment{
	font-family: 'SCDream4';
    width: 120px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
    border: none;
    cursor: pointer;
    background: #686099;
    color: #fff;
}

.modal-header{
	height: 80px;
}

/* .modal-body{
	height: 300px;
}
 */
.replyWriteimg{
	margin-right: -30px;
    padding: 20px;
    margin-top: -10px;
}

.replyWriteimg img{
  width: 100px;
  height: 100px;
}








.pointer {
	cursor: pointer
}

