/*card main tab */
@charset "UTF-8";
@font-face {
    font-family: 'main';
    src: url(../fonts/BinggraeⅡ-Bold.ttf);
}
@font-face {
  src:url(../fonts/SCDream4.otf); 
  font-family: "SCDream4";
}

#cTitle >h3 {
  font-size: 20px;
  font-family: 'SCDream4';
  margin: 20px 0px 15px 0px;
  font-weight:bold;
  text-align: left;
}

div#cTitle {
    border-bottom: #CEC9EF;
    border-width: 2px;
    border-bottom-style: solid;
    margin: 0px 0px 0px 0px;
  }

.tap_content {
 margin: 0 0 20px;
 line-height: 1.5;}

.card_list{
font-family: 'SCDream4';
 height: 700px;
}

#card_tap {
  font-family: 'SCDream4';
  padding: 10px 0px 0px 0px;
  height: 700px;
  background: #ffffff;}

.text-center {
    text-align:start;
}


 

section {
  display: none;
   background-color: #f6f5f5;
   display:none;
   width:100%;
   height:600px;
   padding:10px;
   box-sizing:border-box
}

/*라디오버튼 숨김*/
input {
   display: none;
   }

.card_list label {
  width:150px;
  height:40px;
  background:#f6f5f5;
  border-radius:10px 10px 0 0;
  text-align:center;
  border:0;
  outline:0;
  line-height:40px;
  margin: 10px 0px 0px 0px;
}

.card_list label:hover {
 background-color: #CEC9EF;
 cursor: pointer;
}

/*input 클릭시, label 스타일*/

.card_list input:checked + label {
   background:#686099;
   font-weight:bold;
   color: white;
   border:0;
   outline:0;
   margin: 10px 0px 0px 0px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
 display: block;}


.tap_content img{                                                          
  height: 220px;
}


.subcard .imgdate{
  position: absolute;
  top:20px;
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  height: 20px;
  background-color: #ebebe450;
}

.chk-subcard{
  position: absolute;
  top:20px;
  left:230px;
}

.btn-card-write a{
  float: right;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB;
  font-family: 'SCDream4';
  font-weight:bold;
  text-align:center;
  width:160px;
  height:40px;
  outline:0;
}

.btn-card-write:hover {
  background-color: #CEC9EF;
}



.btn-card-del{
  font-family: 'SCDream4';
  color: white;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 40px;
  background: rgb(104, 96, 153);
  margin-top: 50px;
  margin-left: 50px;
  border: 0px;
  outline: 0px;
}

.btn-card-del:hover {
  background-color: #CEC9EF;
}

.chk-del{
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  height: 20px;
  background-color: #ebebe450;
}

.subcard{
  padding : 20px;
  width: 200px;
  height: 250px;
}

.divPaging{
  position:relative;
  top: 60px;
  left:370px;
}

.subcard .imgtext{
  position: relative;
  bottom: 190px;
  left: 27px;
  width: 170px;
  height: 170px;
  text-align: start;
  z-index: 1;
  color: black;
  font-size: 13px;
  margin-top: 0px;
}

.subcard .imgnum{
  position: relative;
  bottom: 195px;
  left: 70px;
  z-index: 1;
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 70px;
  height: 20px;
  background-color: #ebebe450;
}

.height500{
  height: 500px;
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'SCDream4';
  font-weight: 500;
  font-size: 13px;
}

/*cardWrite.html*/


.cardwrite{
  font-family: 'SCDream4';
}

.border-cardwrite{
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid  #ebebeb;
}

/* .border-cardwrite2{
  height: 700px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid  #ebebeb;
} */

.cardwriteimg{
  width: 640px;
  height: 600px;
  margin: 0px 40px 40px 50px;
}

.btn-writeform-save {
  font-family: 'SCDream4';
  width: 140px;
  height: 40px;
  margin: 15px 0px 15px 25px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: #686099;
  color: #fff;
}

.btn-writeform-save :hover{
  background-color: #ebebeb; 
  }

.btn-writeform-reset{
  font-family: 'SCDream4';
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB;
  margin-left: 30px; 
  width: 140px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.height600{
  height: 600px;
}
.cardwrite-left img{
  width: 500px;
  height: 500px;
}

.cardwritebg{
  padding-top: 10px;
  padding-left: 10px;
}

.cardwritebg img{
  
  width: 150px;
  height: 150px;
  padding : 10px;
}

.cardwrite-imgdate{
  font-family: 'SCDream4';
  font-size: xx-large;
  position: relative;
  bottom: 500px;
}

#text_cnt{
  position: relative;
  bottom: 540px;
  left: 340px;
}

#c-text{
  font-family: 'SCDream4';
  font-size: medium;
  border: 0;
  background-color: #00ff0000;
  position: relative;
    bottom: 550px;
    left: 160px;
    resize: none;
    width: 420px;
    height: 420px;
}

.age-op{
  border: #6667AB 1px solid;
}

.gender-op{
  border: #6667AB 1px solid;
}

.cardwriteradio input[type=radio]{
  visibility:visible;
  position: static;
  width: 20px;
}

.r-age{
  display: inline-block;
  text-align: center;
}

.r-gender{
  display: inline-block;
  text-align: center;
}


/************card read.html************/

.wrap{
  font-family: 'SCDream4';
}


.cardRead-left{
  width: 480px;
  height: 600px;
  margin: 15px 15px 0px 30px;
  margin-left: 30px;
  padding-top: 40px;
  border: 1px solid  #ebebeb;
}

.cardRead-right{
  font-family: 'SCDream4';
  width: 480px;
  height: 600px;
  padding-top: 40px;
  border: 1px dotted #ebebeb;
}

.ment{
  margin: 10px 0px 10px 0px;
  text-align: center;
}


.cardReadImg{
  display: flex;
  justify-content: space-around;
}

.cardReadImg img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}

.cardRead-subcard img{
 width: 400px;
 height: 400px;
}

.replyRead-subcard img{
  padding-top: 10px;
  width: 400px;
  height: 400px;
 }
 

.border-cardread{
  width: 90%;
  border: 2px solid #c4c4c2f8;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 10px;
}

.button-center{
  margin-top: 10px;
  text-align: center;
}

.btn-ReadList{
font-family: 'SCDream4';
    border: 1px solid #6667AB;
    background: #fff;
    color: #6667AB;
    width: 140px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    margin-top:50px;
    text-align:center;
}

/*.btn-ReadList{
display: inline-block;
  font-family: 'SCDream4';
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB; 
  width: 140px;
  height: 40px;
  margin: 50px 0px 15px 0px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}*/

.button-right{
  margin-top: 10px;
  float: right;
}


.btn-ReadComment{
  font-family: 'SCDream4';
  width: 140px;
  height: 40px;
  margin: 15px 0px 15px 0px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: #686099;
  color: #fff;
}

.btn-ReadComment>a{
  color:#fff;
}

.cardRead-subcard{
  text-align: center;
  margin-bottom: 40px;
}
.cardRead-subcard .imgdate{
  position:relative; 
  top: 40px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

.replyRead-subcard .imgdate{
  position:relative; 
  top: 40px;
  left: 40px;
  z-index: 1;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

/**********cardReply.html***********/

.border-replyread{
  width: 90%;
  border: 2px solid #c4c4c2f8;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 40px;
}



.cardReply-left{
  position: relative;
  left: 10px;
  margin: 30px 0px 10px 10px;
  width: 470px;
  height: 600px;
  border:#ebebeb 1px solid;
}


.cardReply-right{
  position: relative;
  right: 50px;
  margin: 30px 10px 10px 0px;
  width: 470px;
  height: 600px;
  border:#ebebeb 1px solid;
}


.r-text{
  position: relative;
  bottom: 480px;
  left: 30px;
}

.r-bgtext{
  width:200px;
  position: relative;
  bottom: 500px;
  left: 1040px;
}

.r-bgtext button{
  width: 70px;
  height: 26px;
  border: 1px solid #6667AB;
  background: #fff;
  color: #6667AB; 
  font-family: 'SCDream4';
}

/**********모달************/

#my_modal {
	display: none;
  background-color: #fefefe;
  border-radius: 3px;
}

.btn-card-application {
  font-family: 'SCDream4';
	color: white;
	background:#686099;
    font-weight:bold;
    text-align:center;
    width:160px;
    height:50px;
    margin: 0px 0px 0px 0px;
    border:0;
    outline:0;  
}

.bgs {
  font-family: 'SCDream4';
  text-align: center;
	color: white;
	background:#686099;
	padding: 25px 0px 0px 0px;
  width: 612px;
	height:75px;
}

.btn-center {
	text-align: center;
}

#card-read{
  width: 618px;
  height: 307px;
}

#card-read img{
  width: 150px;
  height: 150px;
}

.height30{
  height: 30px;
}
