/*이미지 슬라이드*/
#visual {
    position: relative;
    width: 1140px;
    height: 624px;
    margin: 0 auto;
    overflow: hidden;           
    box-shadow: 1px 5px 10px 2px #CEC9EF;
}

  #visual>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    opacity: 0;
  }
  #visual>div.on{
    opacity: 1;
  }
  #control { 
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;         
  }
  #control a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f6f5f5;                       
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 2px
  }
  
  #control a.on {
    background: #686099;
  }
  div#left>span:first-child{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 8px;
    background-color: #686099;
    border-radius: 10px;
    transform: translateY(63px) rotate(50deg);  
  }
  
  div#left>span:last-child{
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #686099;
    border-radius: 10px;
    transform: translateY(30px) rotate(-50deg);  
  }
  
  div#left:hover span{
    background-color: #CEC9EF;
    transition: 0.2s ease;
  }
  
  
  div#left{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 50%;
    left: 2.5%;
    transform: translate(0%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
  }
  
  div#right{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 50%;
    left: 90%;
    transform: translate(0%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
  }
  
  div#right>span:first-child{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 8px;
    background-color: #686099;
    border-radius: 10px;
    transform: translateY(63px) rotate(-50deg);  
  }
  
  div#right>span:last-child{
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #686099;
    border-radius: 10px;
    transform: translateY(30px) rotate(50deg);  
  }
  
  div#right:hover span{
    background-color: #CEC9EF;
    transition: 0.2s ease;
  }