h3 {
    text-align: left;
    font-size: 20px;
    font-family: 'SCDream4'; }

#sub {
    margin-left: 0px;
    border-bottom: 1px solid #686099;
    text-align: left; }

input[name=userSn] {
    width: 49%; }.radio-label {
        padding-right: 72px; 
        float: left; }

#modify {
    display: inline-flex;
    margin-top: 30px;
    padding-left: 25%; }
    #modify .button { 
        margin-right: 3px;
    }
    #modify #submitBtn {
        width: 140px;}