#main-content {
    padding-right: 0px;
}

.deco-area {
    padding-top: 11px; margin-right: 10px;
}
.deco {
    width: 12px; height: 12px;
}

#text label {
    padding-top: 13px;
}

#story {
    height: 150px;
} 
#diary {
    height: 521.23px;
    border: 1px solid #ebebeb;
    margin-bottom: 3px;
    overflow-y: scroll; }
    #diary::-webkit-scrollbar-track {    
        background-color: #fff;
    }    
    #diary::-webkit-scrollbar {
        width: 8px;
    }    
    #diary::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 1px solid #686099;
        border-radius: 10px;
    }
#force-overflow {
    min-height: 600px;
    font-family: 'SCDream4';
}
