h3 {
    font-size: 20px;
    font-family: 'SCDream4';
    text-align: left; margin-top: 20px; margin-bottom: 10px;}
    #bt {margin-bottom: 0px;}

#sub {
    border-bottom: 1px solid #6667AB;
    text-align: left;
    font-size: small;
    font-family: 'SCDream4';
    color: gray; }

#n-sub {
    padding: 10px;
    border-bottom: 1px solid #686099;
    text-align: left; } 

/*pwcheck*/
#c-table {
    width: 600px;}
    #c-table>td {
        padding: 5px; }

#check {
    margin-top: 30px;
    padding-left: 25%; }

/*leave*/
p {
    font-family: 'SCDream4';
    font-weight: 500;
    font-size: 13px;
}

#l-table textarea {
    height: 200px;
}

#l-table {
    width: 600px;}

#modify {
    display: inline-flex;
    margin-top: 30px;
    padding-left: 20%; }
    #modify .button {
        margin-right: 3px; }
    #modify #submitBtn {
        width: 140px; }

